<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>

{% block title %}

ZASTISU Judiciary Portal

{% endblock %}

</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='judiciary_style.css') }}">

</head>

<body>

<header class="top-header">

<h1>
⚖ ZASTISU Judiciary
</h1>

<p>
Student Judiciary Application Portal
</p>

</header>

<main class="container">

{% block content %}

{% endblock %}

</main>

<footer>

<p>

© 2026 ZASTISU Judiciary. All Rights Reserved.

</p>

</footer>

</body>

</html>